body {
  font-family: "Montserrat";
}

h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.meet-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 3% 15% 7%;
}

/* Sections */

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bald;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: lighter;
}

/* Download buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title-image */

.title-image {
  width: 18%;
  transform: rotate(25deg);
  position: absolute;
  right: 23%;
}

#features {

  padding: 2% 15%;
  position: relative;
}

.feature-icon {
  font-size: 4rem;
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-container {
  text-align: center;
  padding-bottom: 3%;
}

.feature-title {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}

.feature-text {
  color: #8f8f8f;
}

.feature-stuff {
  padding: 5%;
}

/* Testimonial section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Pricing section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1000px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    width: 50%;
    transform: rotate(0);
  }
}

/* Call to action */
#cta {
  padding: 7% 15%;

  text-align: center;
}

.cta-title {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
  padding: 0 15% 40px;
}

.cta-button {
  margin: 0 10px;
}

/* Footer */
#footer {
  padding: 7% 15% 3%;
  text-align: center;
}

.footer-button {
  margin: 0 7px;
}

.footer-paragraph {
  padding-top: 10px;
  color: #8f8f8f;
}
